<div class = "container" onresize="myFunction()" onload="myFunction()">
		 <div class="panel-body">

			 <div class = "col-sm-12">

 				<p>I teach art classes to all ages and make my own artworks, primarily mixed media pieces. My formal training has been in crafts and design. In addition I am currently studying glass at Sheridan College as a full-time student. Almost Human is a continuous body of work that is a lens through which I portray my experiences and relationships.</p>
 				</br>

				<div class="col-md-6 text-center" style="padding-bottom: 1em;"><img src="/public/img/profile/about.jpg"   class="img-thumbnail"></a></div>
				<div class="col-md-6 text-center" style="padding-bottom: 1em;"><img src="/public/img/profile/about_3.jpg"    class="img-thumbnail"></a></div>


 				<p>I love markers. My go to media is markers in combination with pen and white crayon. At Sheridan College I have access to numerous craft studios and industry professionals. I make original and commission items in my home flame working studio in Waterloo Ontario.</p>
 				</br>

				<p> Children’s creativity is a driving inspiration to my current work. Visual arts has always been a strong part of my identity and how I connect to the world.</p>
				</br>
				<div class="col-md-6 text-center" style="padding-bottom: 1em;"><img src="/public/img/profile/about_1.jpg"   class="img-thumbnail"></a></div>
				<div class="col-md-6 text-center" style="padding-bottom: 1em;"><img src="/public/img/profile/about_4.jpg"   class="img-thumbnail"></a></div>

			</br>


</div>
